[user]
	name = Julio Rios
	email = jrp8900@gmail.com
[credential]
	helper = store
[credential "helperselector"]
    selected = store
[init]
	defaultBranch = main
[core]
	sshCommand = ssh -i ~/.ssh/jsilverdev_github
	longpaths = true
	editor = code --wait
[push]
	autoSetupRemote = true
[include]
path = ~/.gitconfig.local